
<news class="detail-news">

	<h1 class="news-detail-title"><% @news.title %></h1>
<div class=" glyphicon glyphicon-calendar" id="news-date"> 
	<%= @news.created_at.striftime("%b %d, %Y") %>
</div>

<div class="news-body">
	<%= @news.body %>
</div>

</article>
